<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :boat_id %>
    <%= form.number_field :boat_id, id: :job_boat_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :job_status %>
  </div>

  <div class="field">
    <%= form.label :load_amount %>
    <%= form.number_field :load_amount, id: :job_load_amount %>
  </div>

  <div class="field">
    <%= form.label :sender_id %>
    <%= form.number_field :sender_id, id: :job_sender_id %>
  </div>

  <div class="field">
    <%= form.label :buyer_id %>
    <%= form.number_field :buyer_id, id: :job_buyer_id %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.number_field :cost, id: :job_cost %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin, id: :job_origin %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination, id: :job_destination %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
