<p id="notice"><%= notice %></p>

<h1>Boat Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Boat</th>
      <th>Job</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<div class="form-group">
  <tbody>
    <% @boat_jobs.each do |boat_job| %>
      <tr>
        <td><%= boat_job.boat_id %></td>
        <td><%= boat_job.job_id %></td>
        <td><%= link_to 'Show', boat_job %></td>
        <td><%= link_to 'Edit', edit_boat_job_path(boat_job) %></td>
        <td><%= link_to 'Destroy', boat_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boat Job', new_boat_job_path %>
