
<div  class="section_heading">
<h1 class= "section-heading" style="color:brown;font-size:300%;font-family:'Contrail One',cursive;">Sign UP</h1>

<i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>



<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :company_username %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :company_email %>
  </div>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :company_firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :company_lastname %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :company_password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
