<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boat.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @boat.size %>
</p>

<p>
  <strong>Max load:</strong>
  <%= @boat.max_load %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @boat.photo %>
</p>

<p>
<h1><strong>Assign jobs:</strong></h1>
  <%= @boat.assign_jobs %>
<%= link_to 'Create Job for this Boat', new_job_path  %>

<br>
<br>
<br>
<%= link_to 'Edit', edit_boat_path(@boat) %> |
<%= link_to 'Back', boats_path %>
